<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>FirstJavaEEProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!--<jsp-config>
  	<jsp-property-group>
  		<url-pattern>*.jsp</url-pattern>
  		<el-ignored>true</el-ignored>
  	</jsp-property-group>
  </jsp-config>-->
  
  <servlet>
    <description>Ma première servlet de test.</description>
  	<servlet-name>TestServlet</servlet-name>
  	<servlet-class>com.meddew.servlet.TestServlet</servlet-class>
	<init-param>
		<param-name>auteur</param-name> 
		<param-value>Coyote</param-value> 
	</init-param>

	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
  	<servlet-name>TestServlet</servlet-name>
  	<url-pattern>/test</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>TestServlet EL ONLY</servlet-name>
  	<servlet-class>com.meddew.servlet.TestServletElOnly</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>TestServlet EL ONLY</servlet-name>
  	<url-pattern>/testElOnly</url-pattern>
  </servlet-mapping>
</web-app>